* {
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
}

/* navbar */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo-container {
    text-align: center;
}

.logo {
    font-weight: 600;
}

/* intro */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.intro-container {
    margin-inline: 2rem;
}

.title {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.title-italic {
    font-style: italic;
}

.title-special {
    font-weight: 600;
    color: aquamarine;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}